.head{
    
    font-size: larger;
   margin-top: 20vh;
    width:50%;
    margin:auto;
    text-align: center;
  
}
@media screen and (max-width: 600px) {
    .head{


            font-size: larger;
            width:90%;
            margin:auto;
            margin-top: 20vh;
            margin-bottom: 10vh;
            text-align: center;
           
    }
  }
.red{
    color:red;
}