.main{
   
    
        font-size: larger;
        width:50%;
        margin:auto;
        text-align: center;
        display:grid;
        grid-template-rows: repeat(3 , 1fr) 100px;
        
        min-height: 54vh;
}
@media screen and (max-width: 600px) {
        .main{
   
    
                font-size: larger;
                width:90%;
                margin:auto;
                text-align: center;
                display:grid;
                grid-template-rows: 15fr 15fr 15fr;
                min-height: 54vh;
        }
      }

.board{
        text-align: center;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
}
.red{
        background-color:lightcoral;
        margin:0;
        display: flex;
        align-items: center;
        justify-content: center;
}
.green{
        background-color: lightgreen;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
}
.button{
        width:50%;
        margin:auto;
        display:flex;
        align-items: center;
        justify-content: center;
        border:dashed;
        height: 50%;
}
.bold{
        font-weight: 600;
}